/************************************************************************* Général ***********************************************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

body a {}

/************************************************************************* Header ***********************************************************************************/

header {
    background-image: radial-gradient(circle, #b0dafc 1%, #4b98bd 44%, #4b98bd 45%);
    padding: 2em;
}

/******                              NAVBAR                           ******/
.navbar {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .logo {
    width: 15%;
}

.navbar .logo a {
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    text-decoration: none;
}

.navbar nav {
    width: 70%;
}

.navbar nav ul {
    display: flex;
    justify-content: space-evenly;
}

.navbar nav li {
    list-style: none;
}

.navbar nav li a {
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    text-decoration: none;
}

.nav_social {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}

.nav_social a {
    width: 2em;
}

/*fill sur le path de l'icone svg permet de modifier la couleur de l'icône */
.nav_social path {
    fill: #fff;
}

/******                                ABOUT                                ******/

.about {
    padding: 5em;
    display: flex;
}

.about article {
    width: 50%;
    padding: 6em;
    margin: auto;
}

.about article h1 {
    font-size: 5em;
    line-height: 1.1em;
}

.about article p {
    width: 68%;
    padding: 1em 0.5em 1em 0;
    font-size: 1.5em;
    font-weight: 300;
    text-align: justify;
}

.about figure {
    width: 50%;
    margin: auto;
}

/* Cette partie permet de créer le champ email similaire à l'original*/
.newsletter {
    background-color: #fff;
    width: 60%;
    border: 1em solid #fff;
    border-radius: 5em;
    display: flex;
    justify-content: space-between;
}

.newsletter input[type="email"] {
    width: 80%;
    padding-left: 1em;
    font-size: 1em;
    border: none;
}

.newsletter button {
    background-color: #4b98bd;
    color: #fff;
    padding: 0 2em;
    font-size: 0.8em;
    border: 1em solid #4b98bd;
    border-radius: 5em;
    cursor: pointer;
}

/************************************************************************* Main ***********************************************************************************/

/******                                Section : Features                                ******/
.features {
    width: 100%;
    padding: 1em;
    margin: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features h2 {
    padding: 0.5em;
    font-size: 3em;
    font-weight: 500;
}

.features p {
    width: 30%;
    color: #646464;
    padding-bottom: 1em;
    font-size: 1.5em;
    text-align: center;
}

.features_cards {
    width: 150vh;
    display: flex;
}

.feature_card {
    background-image: radial-gradient(circle, #8ccbff 0.1%, #4b98bd 44%, #4b98bd 45%);
    width: 100%;
    height: auto;
    padding: 5em;
    margin: 1.5em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature_card .card_icone {
    width: 4em;
    color: #fff;
}

.feature_card .card_icone path {
    fill: #fff;
}

.feature_card h3 {
    padding: 0.5em;
    color: #fff;
    font-size: 2em;
    font-weight: 600;
}

.feature_card p {
    width: 100%;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
}

/******                                Section : Team                                ******/

.team {
    width: 100%;
    padding: 1em;
    margin: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team h2 {
    width: 50%;
    padding: 0.5em;
    font-size: 3em;
    font-weight: 500;
    text-align: center;
    line-height: 1.3em;
}

.team p {
    width: 40%;
    color: #646464;
    padding-bottom: 1em;
    font-size: 1.5em;
    text-align: center;
}

.profils {
    width: 100vh;
    display: flex;
}

.profil {
    width: 20%;
    padding: 0.5em;
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profil p {
    width: auto;
    font-size: 1em;
}

.profil figure img {
    width: 100%;
    border-radius: 80%;
}

.profil_socials {
    width: 15%;
}

.profil figcaption h4 {
    font-size: 1.2em;
    text-align: center;
}

/******                                Section : Parallax                                ******/

.calltoaction {
    /*Le padding permet ici d'aggrandir la surface de l'effet parallax*/
    padding: 15em 0;
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.parallax {
    /*Permet d'ajouter l'image souhaitait grâce à url, mais il faut indiquer  le chemin en local.*/
    background-image: url(../img/parallax.png);
    /*Sans définition de largeur, l'image ne s'affichait pas*/
    min-width: 100%;
    /*Permet de décider de la hauteur que prendra l'effet parallax. J'ai testé en mesure vh mais cela débordé forcément sur les autres section pour garder la taille demandé. Alors qu'en pourcentage cela s'adapte sur le height du parent (ici #cta)*/
    height: 100%;
    /*Création de l'effet parallax scrolling*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*Maintenant il faut placer l'image et l'effet en-dessous du contenue textuel, pour cela on va utiliser la position absolue (on l'utilise sur l'effet car c'est une seule div à placer*/
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.calltoaction h2 {
    padding: 0.5em;
    font-size: 2em;
    font-weight: 500;
    z-index: 1;
}

.calltoaction p {
    width: 40%;
    color: #333333;
    padding-bottom: 1em;
    font-size: 1.5em;
    text-align: center;
    z-index: 1;
}

.calltoaction .btn {
    color: #000;
    padding: 0.3em 0.8em;
    text-decoration: none;
    border: 0.15em solid #000;
    border-radius: 8%;
    z-index: 1;

}

/******                                Section : Blog                                ******/

.blog {
    width: 100%;
    padding: 1em;
    margin: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog h2 {
    width: 36%;
    padding: 0.5em;
    font-size: 3em;
    font-weight: 500;
    text-align: center;
    line-height: 1.3em;
}

.container_blog {
    width: 100%;
    height: auto;
    padding: 3em;
    margin: 1.5em;
    border-radius: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blog_card {
    width: 30%;
    padding: 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog_card figure {}

.blog_card figure img {
    width: 100%;
    border-radius: 5%;
}

.blog_card .info {}

.blog_card .info .name {
    display: flex;
    flex-wrap: nowrap;
}

.blog_card .info .date {
    display: flex;
    flex-wrap: nowrap;
}

.blog_card .info_icone {
    width: 2.5em;
    color: #fff;
}

.blog_card .info h2 {
    font-size: 1em;
    font-weight: 700;
}

.blog_card article {}

.blog_card article h3 {
    font-size: 1.8em;
    font-weight: 500;
}

.blog_card article p {
    width: 100%;
    font-size: 1.3em;
}

.blog_card a {
    padding: 0.5em 0;
    /*Le link c'était centré vis-à-vis du parent (blog_card) au lieu de se coller à gauche comme l'article. Width à 100% a permis de l'aligner comme souhaité. text-align et justify-content n'ont rien changé lors des tests*/
    width: 100%;
    font-size: 1.3em;
    font-weight: 600;
    text-decoration: none;
}

/******                                Section : Pricing                                ******/

.pricing {
    width: 70%;
    margin: auto;
    padding-bottom: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Partie article et image */
.container_who {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_who article {
    width: 60%;
}

.container_who article h2 {
    padding: 0.5em;
    font-size: 3em;
    font-weight: 500;
}

.container_who article p {
    color: #646464;
    padding-bottom: 1em;
    font-size: 1.5em;
}

.who_info {
    display: flex;
}

.container_who span {
    padding-bottom: 2em;
}

.container_who a {
    background-color: #4b98bd;
    text-decoration: none;
    padding: 0.7em;
    color: #fff;
    border: 0.2em solid #4b98bd;
    border-radius: 0.3em;
}

.container_who .illustration {
    margin: auto;
    padding: 1em;
}

/* Partie tableau du pricing */
.container_pricing {
    width: 80%;
    padding: 1em;
}

.container_pricing h2 {
    padding-bottom: 0.2em;
    font-size: 3em;
    font-weight: 500;
    text-align: center;
}

.container_pricing p {
    width: 60%;
    padding-bottom: 0.5em;
    margin: auto;
    color: #333333;
    font-size: 1.3em;
    text-align: center;
}

.pricing_cards {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10em;
}

.pricing_card {
    background-color: #fff;
    width: 25%;
    padding: 1em;
    border: 0.2em solid #fff;
    border-radius: 0.6em;
    flex-direction: column;
}

/* intérieur des cartes pricing*/
.pricing_card h3 {
    font-size: 2em;
    text-align: center;
}

.pricing_card h4 {
    color: #4b98bd;
    padding-bottom: 0.1em;
    font-size: 3em;
    text-align: center;
}

.pricing_card span {
    color: #000;
    font-size: 0.5em;
}

.container_option {
    padding: 3em 0;
    display: flex;
    gap: 1em;

}

.option_icone {
    width: 10%;
    line-height: 1.5em;
}

.option {
    width: 60%;
    flex-direction: column;
    line-height: 2em;
}

.option p {
    color: #000;
    text-align: left;
    font-size: 1em;
    font-weight: 600;
}

.contained {
    width: 20%;
    flex-direction: column;
    text-align: right;
    line-height: 2em;
}

.contained p {
    color: #000;
    font-size: 1em;
    font-weight: 600;
}

.ticone {
    width: 2em;
    color: #fff;
}

.ticone_no {
    width: 2em;
    color: #fff;
}

/* bouton de pricing card*/
.btn_pricing {
    background-color: #4b98bd;
    border: 1em solid #4b98bd;
    border-radius: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing_card a {
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: none;
}

/************************************************************************* Footer ***********************************************************************************/

footer {
    background-image: radial-gradient(circle, #333 1%, #131313 44%, #131313 45%);
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Les icones des réseaux sociaux */
.footer_socials {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 3em;
}

.container_social {
    width: 25%;
    padding: 0.3em;
    border: 0.3em solid #969696;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_icone {
    width: 3em;
}

.footer_socials path {
    fill: #969696;
}

/* list des termes et conditions */
.footer_nav {
    padding: 2em;
}

.footer_nav ul {
    display: flex;
    justify-content: space-between;
}

.footer_nav li {
    list-style: none;
    padding: 0 1.7em;
}

.footer_nav li a {
    text-decoration: none;
    color: #969696;
    font-size: 1.3em;
}

/* crédits */

small {
    text-decoration: none;
    color: #969696;
    font-size: 1.3em;
}

/************************************************************************* MEDIA QUERIES ***********************************************************************************/