/************************************************************************* Général ***********************************************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    position: relative;
    z-index: 0;
}

/************************************************************************* Skip button ***********************************************************************************/
/* le parent qui sera en position relative */
.btn_skip {
    background-color: #131313;
    width: 3%;
    border: 1em solid #131313;
    border-radius: 5em;
    /* flex permet ici de centrer la flèche */
    display: flex;
    justify-content: center;
    /* position fixed permet que le bouton suit le scroll /reste fixer au coin de l'écran auquel on l'attribut */
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 1;
}

.btn_skip a {
    text-decoration: none;
    width: 80%;
}

.btn_skip a path {
    fill: #fff;
}

/************************************************************************* Header ***********************************************************************************/

header {
    background-image: radial-gradient(circle, #b0dafc 1%, #4b98bd 44%, #4b98bd 45%);
    padding: 2em;
}

/******                              NAVBAR                           ******/
.navbar {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .logo {
    width: 15%;
}

.navbar .logo a {
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    text-decoration: none;
}

.navbar nav {
    width: 70%;
}

.navbar nav ul {
    display: flex;
    justify-content: space-evenly;
}

.navbar nav li {
    list-style: none;
    position: relative;
}

.navbar nav li a {
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    text-decoration: none;
    position: absolute;
    transition: 0.3s;
}

.navbar nav li:hover a {
    font-size: 2.3em;
    font-weight: 700;
}

.nav_social {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}

.nav_social a {
    width: 2em;
}

/*fill sur le path de l'icone svg permet de modifier la couleur de l'icône */
.nav_social path {
    fill: #fff;
}

/******                                ABOUT                                ******/

.about {
    padding: 5em;
    display: flex;
}

.about article {
    width: 50%;
    padding: 6em;
    margin: auto;
}

.about article h1 {
    font-size: 5em;
    line-height: 1.1em;
}

.about article p {
    width: 68%;
    padding: 1em 0.5em 1em 0;
    font-size: 1.5em;
    font-weight: 300;
    text-align: justify;
}

.about figure {
    width: 50%;
    margin: auto;
}

/* Cette partie permet de créer le champ email similaire à l'original*/
.newsletter {
    background-color: #fff;
    width: 60%;
    border: 1em solid #fff;
    border-radius: 5em;
    display: flex;
    justify-content: space-between;
}

.newsletter input[type="email"] {
    width: 80%;
    padding-left: 1em;
    font-size: 1em;
    border: none;
}

.newsletter button {
    background-color: #4b98bd;
    color: #fff;
    padding: 0 2em;
    font-size: 0.8em;
    border: 1em solid #4b98bd;
    border-radius: 5em;
    cursor: pointer;
}

/************************************************************************* Main ***********************************************************************************/

/******                                Section : Features                                ******/
.features {
    width: 100%;
    padding: 1em;
    margin: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features h2 {
    padding: 0.5em;
    font-size: 3em;
    font-weight: 500;
}

.features p {
    width: 30%;
    color: #646464;
    padding-bottom: 1em;
    font-size: 1.5em;
    text-align: center;
}

.features_cards {
    width: 150vh;
    display: flex;
    gap: 2em;
}

.feature_card {
    background-image: radial-gradient(circle, #8ccbff 0.1%, #4b98bd 44%, #4b98bd 45%);
    width: 100%;
    height: auto;
    padding: 5em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: 1s;
}

.feature_card .card_icone {
    width: 4em;
    color: #fff;
}

.feature_card .card_icone path {
    fill: #fff;
}

.feature_card h3 {
    padding: 0.5em;
    color: #fff;
    font-size: 2em;
    font-weight: 600;
}

.feature_card p {
    width: 100%;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
}

.feature_card:hover {
    top: -3em;
}

/******                                Section : Team                                ******/

.team {
    width: 100%;
    padding: 1em;
    margin: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team h2 {
    width: 50%;
    padding: 0.5em;
    font-size: 3em;
    font-weight: 500;
    text-align: center;
    line-height: 1.3em;
}

.team p {
    width: 40%;
    color: #646464;
    padding-bottom: 1em;
    font-size: 1.5em;
    text-align: center;
}

.profils {
    width: 100vh;
    display: flex;
}

.profil {
    width: 20%;
    padding: 0.5em;
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profil p {
    width: auto;
    font-size: 1em;
}

.profil figure {
    position: relative;
}

.profil figure img {
    width: 100%;
    border-radius: 80%;
    filter: grayscale(1);
}

.profil figure:hover img {
    /* Transform permet de zoomer l'image de la carte, lorsque la souris passe dessus. Transisiton et transform peuvent être utilisé SI un hover est en place. */
    transform: scale(1.1);
    /* Permet de passer de retirer l'effet grisatre de l'image de la carte, et donc elle va revenir à ses couleurs originaux. C'est effet aura leiu lorsqu'on passe la souris dessus (sans besoin de cliquer) grâce au :hover */
    filter: grayscale(0);
    transition: 1s;
}

.profil figure:hover .profil_socials {
    top: 2em;
    left: 0.8em;
}

.profil_socials {
    position: absolute;
    width: 15%;
    left: -150em;
}

.profil_socials a {
    background-color: #fff;
    padding: 0.2em;
    border: 1 solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil figcaption h4 {
    font-size: 1.2em;
    text-align: center;
}

/******                                Section : Parallax                                ******/

.calltoaction {
    /*Le padding permet ici d'aggrandir la surface de l'effet parallax*/
    padding: 15em 0;
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.parallax {
    /*Permet d'ajouter l'image souhaitait grâce à url, mais il faut indiquer  le chemin en local.*/
    background-image: url(../img/parallax.png);
    /*Sans définition de largeur, l'image ne s'affichait pas*/
    min-width: 100%;
    /*Permet de décider de la hauteur que prendra l'effet parallax. J'ai testé en mesure vh mais cela débordé forcément sur les autres section pour garder la taille demandé. Alors qu'en pourcentage cela s'adapte sur le height du parent (ici #cta)*/
    height: 100%;
    /*Création de l'effet parallax scrolling*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*Maintenant il faut placer l'image et l'effet en-dessous du contenue textuel, pour cela on va utiliser la position absolue (on l'utilise sur l'effet car c'est une seule div à placer*/
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.calltoaction h2 {
    padding: 0.5em;
    font-size: 2em;
    font-weight: 500;
    z-index: 1;
}

.calltoaction p {
    width: 40%;
    color: #333333;
    padding-bottom: 1em;
    font-size: 1.5em;
    text-align: center;
    z-index: 1;
}

.calltoaction .btn {
    width: 10%;
    position: relative;
}

.calltoaction .btn a {
    text-decoration: none;
    color: #000;
    text-align: center;
    padding: 0.3em 0.8em;
    border: 0.15em solid #000;
    border-radius: 8%;
    position: absolute;
    transition: 2s;
}

.btn:hover a {
    top: -1em;
}

/******                                Section : Blog                                ******/

.blog {
    width: 100%;
    padding: 1em;
    margin: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog h2 {
    width: 36%;
    padding: 0.5em;
    font-size: 3em;
    font-weight: 500;
    text-align: center;
    line-height: 1.3em;
}

.container_blog {
    width: 100%;
    height: auto;
    padding: 3em;
    margin: 1.5em;
    border-radius: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blog_card {
    width: 30%;
    padding: 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog_card figure {
    position: relative;
}

.blog_card figure img {
    width: 100%;
    border-radius: 5%;
}

.blog_card:hover figure img {
    filter: brightness(0.3);
    transition: 1s;
}

.blog_card .info {
    position: absolute;
    left: -150em;
}

.blog_card:hover .info {
    top: 4em;
    left: 2em;
}

.blog_card .info .name {
    display: flex;
}

.blog_card .info .name h2 {
    width: 100%;
    color: #fff;
}

.blog_card .info .date {
    display: flex;
}

.blog_card .info .date h2 {
    width: 100%;
    color: #fff;
}

.blog_card .info_icone {
    width: 2.5em;
    color: #fff;
}

.blog_card .info_icone path {
    fill: #fff;
}

.blog_card .info h2 {
    font-size: 1em;
    font-weight: 700;
}

.blog_card article h3 {
    font-size: 1.8em;
    font-weight: 500;
}

.blog_card article p {
    width: 100%;
    font-size: 1.3em;
}

.blog_card a {
    padding: 0.5em 0;
    /*Le link c'était centré vis-à-vis du parent (blog_card) au lieu de se coller à gauche comme l'article. Width à 100% a permis de l'aligner comme souhaité. text-align et justify-content n'ont rien changé lors des tests*/
    width: 100%;
    font-size: 1.3em;
    font-weight: 600;
    text-decoration: none;
}

/******                                Section : Pricing                                ******/

.pricing {
    width: 70%;
    margin: auto;
    padding-bottom: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Partie article et image */
.container_who {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_who article {
    width: 60%;
}

.container_who article h2 {
    padding: 0.5em;
    font-size: 3em;
    font-weight: 500;
}

.container_who article p {
    color: #646464;
    padding-bottom: 1em;
    font-size: 1.5em;
}

.who_info {
    display: flex;
    gap: 2em;
}

.container_who span {
    padding-bottom: 2em;
}

.nb {
    font-size: 1.5em;
    font-weight: 700;
}

.nb_text {
    color: #646464;
    font-weight: 500;
}

.container_who a {
    background-color: #4b98bd;
    text-decoration: none;
    padding: 0.7em;
    color: #fff;
    border: 0.2em solid #4b98bd;
    border-radius: 0.3em;
}

.container_who .illustration {
    margin: auto;
    padding: 1em;
}

/* Partie tableau du pricing */
.container_pricing {
    width: 80%;
    padding: 1em;
}

.container_pricing h2 {
    padding-bottom: 0.2em;
    font-size: 3em;
    font-weight: 500;
    text-align: center;
}

.container_pricing p {
    width: 60%;
    padding-bottom: 0.5em;
    margin: auto;
    color: #333333;
    font-size: 1.3em;
    text-align: center;
}

.pricing_cards {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10em;
}

.pricing_card {
    background-color: #fff;
    width: 25%;
    padding: 1em;
    border: 0.2em solid #fff;
    border-radius: 0.6em;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

/* intérieur des cartes pricing*/
.pricing_card h3 {
    font-size: 2em;
    text-align: center;
}

.pricing_card h4 {
    color: #4b98bd;
    padding-bottom: 0.1em;
    font-size: 3em;
    text-align: center;
}

.pricing_card span {
    color: #000;
    font-size: 0.5em;
}

.container_option {
    padding: 3em 0;
    display: flex;
    gap: 1em;

}

.option_icone {
    width: 10%;
    line-height: 1.5em;
}

.option {
    width: 60%;
    flex-direction: column;
    line-height: 2em;
}

.option p {
    color: #000;
    text-align: left;
    font-size: 1em;
    font-weight: 600;
}

.contained {
    width: 20%;
    flex-direction: column;
    text-align: right;
    line-height: 2em;
}

.contained p {
    color: #000;
    font-size: 1em;
    font-weight: 600;
}

.ticone {
    width: 2em;
    color: #fff;
}

.ticone_no {
    width: 2em;
    color: #fff;
}

/* bouton de pricing card*/
.btn_pricing {
    background-color: #4b98bd;
    border: 1em solid #4b98bd;
    border-radius: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing_card a {
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: none;
}

/************************************************************************* Footer ***********************************************************************************/

footer {
    background-image: radial-gradient(circle, #333 1%, #131313 44%, #131313 45%);
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Les icones des réseaux sociaux */
.footer_socials {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 3em;
}

.container_social {
    width: 25%;
    padding: 0.3em;
    border: 0.3em solid #969696;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_icone {
    width: 3em;
}

.footer_socials path {
    fill: #969696;
}

/* list des termes et conditions */
.footer_nav {
    padding: 2em;
}

.footer_nav ul {
    display: flex;
    justify-content: space-between;
}

.footer_nav li {
    list-style: none;
    padding: 0 1.7em;
}

.footer_nav li a {
    text-decoration: none;
    color: #969696;
    font-size: 1.3em;
}

/* crédits */

small {
    text-decoration: none;
    color: #969696;
    font-size: 1.3em;
}

/************************************************************************* MEDIA QUERIES ***********************************************************************************/

@media only screen and (max-width:750px) {

    /* Logo */
    .navbar {
        padding: 0.5em;
    }

    .navbar .logo {
        width: 10%;
    }

    .navbar .logo a {
        font-size: 1.5em;
    }

    /* menu burger */

    /* socials */

    /* About */
    .about {
        padding: 1em;
        display: flex;
        flex-direction: column;
    }

    .about article {
        width: 100%;
        padding: 1em;
    }

    .about article h1 {
        font-size: 2em;
    }

    .about article p {
        width: 100%;
        padding: 0.5;
        font-size: 0.8em;
    }

    .about figure {
        width: 100%;
    }

    /* Champ de formulaire email */
    .newsletter {
        width: 100%;
        border: 1em solid #fff;
        border-radius: 5em;
        display: flex;
        justify-content: space-between;
    }

    .newsletter input[type="email"] {
        width: 60%;
        padding-left: 0em;
        font-size: 0.8em;
    }

    .newsletter button {
        padding: 0 0.5em;
        font-size: 0.6em;
        border: 1em solid #4b98bd;
        border-radius: 5em;
        cursor: pointer;
    }

    /* Features */
    .features {
        margin: 0.5em;
    }

    .features h2 {
        padding: 1em 0.2em 0 0;
        font-size: 2em;
    }

    .features p {
        width: 100%;
        color: #646464;
        padding: 0.5em;
        font-size: 0.8em;
    }

    .features_cards {
        width: 100%;
        padding: 2em 0 0 0;
        display: flex;
        flex-direction: column;
    }

    .feature_card {
        padding: 0.5em;
        transition: 0s;
    }

    .feature_card .card_icone {
        width: 3.5em;
    }

    .feature_card h3 {
        font-size: 1.3em;
    }

    .feature_card p {
        color: #fff;
        font-size: 1em;
    }

    /* On retire l'effet d'hover */
    .feature_card:hover {
        top: 0;
    }

    /* Team */
    .team {
        padding: 1em;
        margin: 0;
    }

    .team h2 {
        width: 100%;
        padding: 0.5em 0.5em 0.8em 0.5em;
        font-size: 1.3em;
    }

    .team p {
        width: 100%;
        padding-bottom: 1em;
        font-size: 0.8em;
    }

    .profils {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .profil {
        width: 100%;
        padding: 0.5em;
    }

    .profil figure img {
        width: 100%;
        border-radius: 80%;
        filter: grayscale(0);
    }

    .profil figure:hover img {
        /* On met tous à 0 pour retirer les effets */
        transform: scale(0);
        filter: grayscale(0);
        transition: 0s;
    }

    .profil figure:hover .profil_socials {
        top: 0em;
        left: 0em;
    }

    .profil_socials {
        /* On modifie la position de socials pour qu'ils apparaissent sur les profils de façon volontaire*/
        top: 5em;
        left: 1.2em;
    }

    /* Parallax */
    .calltoaction {
        padding: 10em 0;
        margin: auto;
    }

    .calltoaction h2 {
        font-size: 1.5em;
        font-weight: 600;
    }

    .calltoaction p {
        width: 100%;
        padding: 0 0.5em 1em 0.5em;
        font-size: 1em;
    }

    .calltoaction .btn {
        width: 30%;
        position: relative;
    }

    .calltoaction .btn a {
        transition: 0s;
    }

    .btn:hover a {
        top: 0em;
    }

    /* Blog */
    .blog {
        padding-top: 4em;
        margin: 0;
    }

    .blog h2 {
        width: 100%;
        padding-bottom: 0.8em;
        font-size: 1.5em;
    }

    .container_blog {
        width: 100%;
        height: auto;
        padding: 0em;
        margin: 0em;
        flex-direction: column;
        justify-content: center;
    }

    .blog_card {
        width: 100%;
        padding: 1.3em 0.5em;
    }

    .blog_card:hover figure img {
        /* On retire les effets */
        filter: brightness(1);
        transition: 0s;
    }

    .blog_card .info {
        background-color: #969696;
        filter: opacity(0.8);
        width: 35%;
        border: 0.1em solid #969696;
        border-radius: 10%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .blog_card:hover .info {
        top: 0;
        left: 0;
    }

    .blog_card .info .name h2 {
        width: 70%;
        font-size: 0.8em;
        color: #000;
    }

    .blog_card .info .date h2 {
        width: 70%;
        font-size: 0.8em;
        color: #000;
    }

    .blog_card .info_icone {
        width: 1.8em;
    }

    .blog_card .info_icone path {
        fill: #000;
    }

    .blog_card .info h2 {
        font-size: 1em;
    }

    .blog_card article h3 {
        font-size: 1.5em;
    }

    .blog_card article p {
        font-size: 1em;
    }

    .blog_card a {
        padding: 0.5em 0;
        font-size: 1em;
    }

    /*  */
}